body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridSquare {
    border-style: solid;
    border-color:aqua;
    width: auto;
    height: auto;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color:aqua;
    width: 960px;
    height: 960px;
}