body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridSquare {
    border-style: solid;
    border-color:crimson;
    flex-grow: 1;
}

#container {
    display: flex;
    justify-content: center;
    align-items: stretch; /*This makes the boxes fill the height properly*/
    border-style: solid;
    border-color:aqua;
    width: 960px;
    height: 960px;

}